.Home {
margin-left:870px;
color: #636060:
font-family: Helvetica;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.ABOUTUS {
    margin-left:950px ;
    margin-top:-18px ;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060:
    

}
.OURSERVICES {
    margin-left:1055px ;
    margin-top:-20px ;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060:
    
}
.TOURPACKAGE {
    margin-left:1205px ;
    margin-top:-20px ;
    font-family: Helvetica;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060:
}
.grk {
margin-top:30px ;
width: 1440px
height: 606px
top: -457px
left: -719px

}
.DISCOVER {
margin-top: 20px;
margin-left: 60px;
font-size: 17px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

}
.OurHot {
margin-top:5px ; 
margin-left:60px ;  
font-size: 28px;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
color: #01010160;
;
}
.we {
margin-top: 20px;
margin-left: 60px;
font-family: Helvetica;
font-size: 20px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: #636060;

}
.this {
    margin-left:60px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
.your {
    margin-left:60px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
.so {
    margin-left:60px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
.feedback {
    margin-left:60px ;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
.build {
    margin-left: 320px;
    margin-top:-170px ;
    width: 286px
    top: 233px
    left: -301px
    position: absolute;
}
.FLIGHt {
 margin-left:350px; 
 margin-top: 30px;
    vertical-align: top;
    position: relative;

}
.hope {
margin-left:350px ;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;

}
.ths {
margin-left:350px ;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;
}
.and {
 margin-left:350px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;
}
.Hotel {
margin-top:-304px ;
margin-left:600px ;
position: absolute;
right: 32%;
}
.family {
    position: absolute;
    right: 7%;
    top: 90%; }

    .RESORT {
 margin-left: 690px;
 margin-top:-80px ;
font-size: 19px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #343232;

    }
    .visit {
 margin-left: 690px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#343232 ;
    }
    .ye {
margin-left: 690px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#343232 ;
    }
    .fav {
margin-left: 690px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#343232 ;
    }
    .Trip {
margin-left: 1060px;
margin-top:-85px ;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#343232 ;
    }
    .mez {
 margin-left: 1060px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#343232 ;
    }
    .hophop {
        margin-left: 1060px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color:#343232 ;
    }
    .my {
        margin-left: 1060px;
        font-size: 18px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: left;
        color:#343232 ;
    }
    .photo1  {
        margin-left: 315px;
        margin-top:30px ;
    }
    .photo2 {
        margin-left:76px ;
    }
    .DiscoverGreece {
 font-family: Helvetica;
 margin-top: -1000px;
 margin-left:370px ;
font-size: 79px;
font-weight: 700;
line-height: 91px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;


    }
    .unique {
 margin-top:-980px ;
 margin-left:420px ;
font-family: Helvetica;
font-size: 19px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
    }
.mm {
    margin-top: 1900px;
    margin-left:360px ;
    font-size: 19px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    
}
.hh {
margin-left: 360px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;

}
.kk {
margin-left: 360px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;
}
.ll {
margin-left: 360px;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color: #636060;
}
 .Fire {
margin-left:700px ;
margin-top:-82px ;
font-family: Helvetica;
font-size: 19px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;

 }
.camp {
 margin-left:700px ;
font-family: Helvetica;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#636060;
}
.jj {
margin-left:700px ;
font-family: Helvetica;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#636060;
}
.nn {
 margin-left:700px ;
font-family: Helvetica;
font-size: 18px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;
color:#636060;
}
.CORPORATE {
 margin-left:1080px ;
 margin-top: -80px;
font-family: Helvetica;
font-size: 19px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #343232;

}
.Holydays {
    margin-left: 1080px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
 .uu {
    margin-left: 1080px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
}
 .qq {
    margin-left: 1080px;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: #636060;
 }